# Primeira Liga Data Research #

In [2]:
import pandas as pd
import numpy as np

## Loading the data ##

In [7]:
uncleaned_data = pd.read_csv('C:/Users/Rodolfo Amorim/Desktop/Football_Research/Football-Research/Matches.csv')

C:\Users\Rodolfo Amorim\AppData\Local\Temp\ipykernel_13096\1179026820.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  uncleaned_data = pd.read_csv('C:/Users/Rodolfo Amorim/Desktop/Football_Research/Football-Research/Matches.csv')

In [8]:
uncleaned_data.head()

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
0,F1,2000-07-28,NaN,Marseille,Troyes,1686.34,1586.57,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,2000-07-28,NaN,Paris SG,Strasbourg,1714.89,1642.51,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F2,2000-07-28,NaN,Wasquehal,Nancy,1465.08,1633.80,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F1,2000-07-29,NaN,Auxerre,Sedan,1635.58,1624.22,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F1,2000-07-29,NaN,Bordeaux,Metz,1734.34,1673.11,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Primeira Liga Dataframe 
primeira_liga_dataframe = uncleaned_data[ (uncleaned_data['Division'] == 'P1')]
primeira_liga_dataframe

,Division,MatchDate,MatchTime,HomeTeam,AwayTeam,HomeElo,AwayElo,Form3Home,Form5Home,Form3Away,...,MaxUnder25,HandiSize,HandiHome,HandiAway,C_LTH,C_LTA,C_VHD,C_VAD,C_HTB,C_PHB
125,P1,2000-08-18,NaN,Beira Mar,Boavista,1364.02,1562.03,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,P1,2000-08-19,NaN,Porto,Benfica,1705.52,1611.21,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,P1,2000-08-19,NaN,Sp Braga,Guimaraes,1461.41,1470.71,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,P1,2000-08-20,NaN,Alverca,Maritimo,1394.29,1488.67,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,P1,2000-08-20,NaN,Aves,Belenenses,1326.14,1385.76,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230397,P1,2025-05-17,18:00:00,Estoril,Estrela,1460.86,NaN,4.0,4.0,3.0,...,1.84,0.0,1.83,2.03,0.7746,0.0162,0.0142,0.0184,0.0296,0.1470
230398,P1,2025-05-17,18:00:00,Farense,Santa Clara,1396.31,1477.46,6.0,9.0,7.0,...,1.54,0.0,1.95,1.90,0.0460,0.0968,0.0100,0.3170,0.2290,0.3012
230399,P1,2025-05-17,18:00:00,Porto,Nacional,1674.77,1413.70,6.0,12.0,2.0,...,2.45,-1.5,1.88,1.98,0.2162,0.1594,0.4129,0.0136,0.0956,0.1023
230400,P1,2025-05-17,18:00:00,Sp Braga,Benfica,1647.99,1794.14,2.0,8.0,7.0,...,2.32,1.0,1.75,2.05,0.1959,0.0276,0.0143,0.2517,0.4645,0.0460
230401,P1,2025-05-17,18:00:00,Sp Lisbon,Guimaraes,1784.92,1579.96,7.0,13.0,6.0,...,2.45,-1.8,1.98,1.88,0.1346,0.0307,0.7251,0.0099,0.0274,0.0722

## Extracting Insights ##